<section class="breadcrumb-area inner-banner">
  <div class="text-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 v-center">
          <div class="bread-inner">
            <div class="bread-menu">
              <ul>
                <li><a href="index-2.html">Home</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
            <div class="bread-title">
              <h2>About Company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-agency pad-tb block-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 v-center">
        <div class="about-image">
          <img
            src="assets/images/about/company-about.png"
            alt="about us"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="common-heading text-l">
          <span>About Us</span>
          <h2>About SoftProdigy</h2>
          <p>
            With a significantly less turnaround time for any of our services we
            help reduce time-to-market for you to stay competitive in this
            ever-evolving marketplace. From business consultation to launching
            and branding your business online, we take care of everything you
            need to run your business online. Our services assure increased
            revenue and offer an amazing end user experience.
          </p>
          <p>
            SoftProdigy – Offering Technological Solutions to Enterprises,
            Startups, and Small Businesses
          </p>
        </div>
        <div class="row in-stats small about-statistics">
          <div class="col-lg-4 col-sm-4">
            <div class="statistics">
              <div class="statnumb counter-number">
                <span class="counter">450</span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="statistics">
              <div class="statnumb">
                <span class="counter">95</span><span class="thousand">k</span>
                <p>Hours Worked</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="statistics mb0">
              <div class="statnumb counter-number">
                <span class="counter">850</span>
                <p>Projects Done</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-choose pad-tb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="common-heading-2 text-center mb40">
          <span class="text-effect-2">We Are Awesome</span>
          <h2 class="mb10">Why <span class="text-second">Choose</span> Us</h2>
        </div>
      </div>
    </div>
    <div class="row upset">
      <div class="col-lg-3 col-sm-6 mt30">
        <div class="s-block up-hor">
          <div class="s-card-icon">
            <img
              src="assets/images/icons/research.svg"
              alt="service"
              class="img-fluid"
            />
          </div>
          <h4>Reasearch and Analysis</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mt30">
        <div class="s-block up-hor">
          <div class="s-card-icon">
            <img
              src="assets/images/icons/chat.svg"
              alt="service"
              class="img-fluid"
            />
          </div>
          <h4>Negotiation and power</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mt30">
        <div class="s-block up-hor">
          <div class="s-card-icon">
            <img
              src="assets/images/icons/monitor.svg"
              alt="service"
              class="img-fluid"
            />
          </div>
          <h4>Creative and innovative solutions</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mt30">
        <div class="s-block up-hor">
          <div class="s-card-icon">
            <img
              src="assets/images/icons/trasparency.svg"
              alt="service"
              class="img-fluid"
            />
          </div>
          <h4>Trasparency and ease of work</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-agencys pad-tb block-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="common-heading-2 text-center mb40">
          <span class="text-effect-2">Our Philosophy</span>
          <h2 class="mb10">
            Our <span class="text-second">Business</span> Philosophy
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center niwaxgap40">
      <div class="col-lg-5 v-center order1">
        <div class="image-block">
          <img
            src="assets/images/about/leadership.jpg"
            alt="about us Niwax"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-5 v-center order2">
        <div class="common-heading text-l">
          <span>Supervision</span>
          <h2 class="mb20">TRUST</h2>
          <p>
            At Softprodigy we take pride in earning and keeping the trust of our
            customers. We value their belief in us and strive hard top preserve
            it.. We act with our customers' best interests at heart.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center niwaxgap40 mt60">
      <div class="col-lg-5 v-center order2">
        <div class="common-heading text-l">
          <span>Strength</span>
          <h2 class="mb20">INTEGRITY</h2>
          <p>
            Integrity and ethical standards is at the heart of our every
            relationship and business dealings at softprodigy. We do not
            compromise on our principles and hold them higher than profits. We
            strongly believe that honest relationships and trust are essentials
            for long term business.
          </p>
        </div>
      </div>

      <div class="col-lg-5 v-center order1">
        <div class="image-block">
          <img
            src="assets/images/about/collaboration.jpg"
            alt="about us Niwax"
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <div class="row justify-content-center niwaxgap40 mt60">
      <div class="col-lg-5 v-center order1">
        <div class="image-block">
          <img
            src="assets/images/about/transparency.jpg"
            alt="about us Niwax"
            class="img-fluid"
          />
        </div>
      </div>

      <div class="col-lg-5 v-center order2">
        <div class="common-heading text-l">
          <span>Quality</span>
          <h2 class="mb20">CUSTOMER DELIGHT</h2>
          <p>
            We strive to not just satisfy our customers but to delight them with
            our services. We have a knack for anticipating client needs and we
            make sure we align our services to effectively cater those needs.
            When you choose softprodigy for your business, we make every effort
            to make it one of the most rewarding experience you'll ever have.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-office pad-tb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="common-heading-2">
        <span class="text-effect-1">Our Locations</span>
        <h2 class="mb30">Our Office</h2>
      </div>
    </div>
    <div class="row justify-content-center upset shape-numm">
      <div
        class="col-lg-4 col-sm-6 shape-loc wow fadeIn"
        data-wow-delay=".2s"
        style="
          visibility: visible;
          animation-delay: 0.2s;
          animation-name: fadeIn;
        "
      >
        <div class="office-card hoshd">
          <div class="landscp">
            <img
              src="assets/images/location/india-img.png"
              alt="location"
              class="img-fluid"
            />
          </div>
          <div class="info-text-div">
            <h4>India (Mohali)</h4>
            <h6 class="mt5 mb10">SoftProdigy System Solutions</h6>
            <p>
              IT Park, IT C10, 1st Floor, World Tech 67, Sector 67, Sahibzada
              Ajit Singh Nagar, Punjab 160062
            </p>
            <ul class="-address-list mt10">
              <li>
                <a href="#"
                  ><i class="fas fa-envelope"></i>
                  <span>info@softprodigy.com</span></a
                >
              </li>
              <li>
                <a href="tel:+10000000000"
                  ><i class="fas fa-phone-alt"></i> +1 0000 000 000</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-sm-6 shape-loc wow fadeIn"
        data-wow-delay=".4s"
        style="
          visibility: visible;
          animation-delay: 0.4s;
          animation-name: fadeIn;
        "
      >
        <div class="office-card hoshd">
          <div class="landscp">
            <img
              src="assets/images/location/india-img.png"
              alt="location"
              class="img-fluid"
            />
          </div>
          <div class="info-text-div">
            <h4>India (Kolkata)</h4>
            <h6 class="mt5 mb10">DLF Galleria</h6>
            <p>
              Tower B - Ground Floor, Block AF 8, Major Arterial Road (South
              East Extension), Newtown, Kolkata, West Bengal 700156
            </p>
            <ul class="-address-list mt10">
              <li>
                <a href="#"
                  ><i class="fas fa-envelope"></i>
                  <span>info@softprodigy.com</span></a
                >
              </li>
              <li>
                <a href="tel:+10000000000"
                  ><i class="fas fa-phone-alt"></i> +1 0000 000 000</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-sm-6 shape-loc wow fadeIn"
        data-wow-delay=".6s"
        style="
          visibility: visible;
          animation-delay: 0.6s;
          animation-name: fadeIn;
        "
      >
        <div class="office-card hoshd">
          <div class="landscp">
            <img
              src="assets/images/location/paris.png"
              alt="location"
              class="img-fluid"
            />
          </div>
          <div class="info-text-div">
            <h4>USA (NEW YORK REGION )</h4>
            <h6 class="mt5 mb10">SoftProdigy</h6>
            <p>600 International Dr, Budd Lake, NJ 07828, United States</p>
            <ul class="-address-list mt10">
              <li>
                <a href="#"
                  ><i class="fas fa-envelope"></i>
                  <span>info@softprodigy.com</span></a
                >
              </li>
              <li>
                <a href="tel:+10000000000"
                  ><i class="fas fa-phone-alt"></i> +1 0000 000 000</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
