<div id="progress-bar" style="--scrollAmount: 0%"></div>
<div class="onloadpage" id="page_loader" style="display: none">
  <div class="pre-content">
    <div class="logo-pre">
      <img
        src="assets/images/logo.png"
        height="300"
        width="54"
        alt="Logo"
        class="img-fluid"
      />
    </div>
    <div class="pre-text- text-radius text-light text-animation bg-b">
      We Are 2 Seconds Away. Have Patience
    </div>
  </div>
</div>
<router-outlet></router-outlet>
